html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5rem;
  overscroll-behavior-x: none;
}

.app {
  width: calc(100% - 4rem);
  transition: opacity .5s;

  h1 {
    margin: 0;
  }

  .columns {
    display: flex;
    height: calc(100vh - 20rem);
    flex-direction: row;

    .capture, .data, .options {
      margin-right: 2rem;
    }

    .capture {
      &-body {
        position: relative;
        width: 30rem;
        height: calc(100% - 3rem);
        background-color: rgb(200, 200, 200);
        outline: 2px solid black;

        .prediction {
          position: absolute;
          bottom: 0;
          overflow: hidden;
          width: calc(100% - 1rem);
          height: 2rem;
          margin: .5rem;
          background: linear-gradient(90deg, red, green);
          pointer-events: none;
            
          &:before, &:after {
            position: absolute;
            margin: 0 .5rem;
            color: white;
            line-height: 2rem;
          }

          &:before {
            left: 0;
            content: "fake";
          }

          &:after {
            right: 0;
            content: "real";
          }
            
          &-amount {
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 100%;
            outline: 2px solid white;
            transition: left .25s;
          }
        }
      }
    }

    .data {
      width: 15rem;
      min-width: 15rem;
      height: calc(100% - 3rem);

      &-body {
        display: flex;
        height: 100%;
        flex-direction: column-reverse;
        line-height: .75rem;
        outline: 2px solid black;
        overflow-x: hidden;
        overflow-y: scroll;

        &:empty {
          align-items: center;
          justify-content: center;
          &:before {
            content: 'wheel data'
          }
        }

        div {
          padding: .25rem;
          &.real {
            border-color: rgb(0, 255, 0) !important;
            background-color: rgba(0, 255, 0, .2);
          }
          &.fake {
            border-color: rgb(255, 0, 0) !important;
            background-color: rgba(255, 0, 0, .2);
          }

          &.start, &.end {
            border-right: 2px solid;
            border-left: 2px solid;
          }
          &.end {
            border-top: 2px solid;
            margin-top: .25rem;
          }
          &.start {
            border-bottom: 2px solid;
            margin-bottom: .25rem;
          }
        }
      }
    }

    .options {
      div {
        margin: 1rem 0;
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;

    button {
      margin: 1rem .5rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}